// ======================================
//  variables Styles
// ======================================

// ======================================
// Colors
// ======================================
$text-dark-title: #2E2E39;
$text-dark-sub: #454557;
$text-dark-sub-low: #7E7E9C;
$bg-white: #fff;
// ======================================
// Media query breakpoints
// ======================================

$brk-desktop-width: 1200px;
$brk-min-desktop-width: 991px;
$brk-ipad-width: 767px;
$brk-mobile-width: 420px;
$brk-min-mobile-width: 320px;

$nav-hight: 78px;